.wpcf7-form {
  margin: $mp2-h;

  .form-group {
    margin: $mp2-b
  }

  input[type="text"], input[type="email"] {
    width: 100%;
  }
}

@media (min-width: $bp-sm) {
  .content-wrap {
    margin: 0 auto;
    width: 700px;
  }
}

