/* Get Google fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

@media (min-width: $bp-sm) {
  body {
    font-size: 18px;
  }
}

/* General Font Sizes */
$fs1: .75em;
$fs2: 1em;
$fs3: 1.5em;
$fs4: 2em;
$fs5: 2.5em;
$fs6: 3em;

/* Components */
$mobile-nav-font-size: $fs4;
$hero-title-font-size: $fs4;
$skills-title-size: $fs3;
$footer-font-size: $fs1;
