.screen-reader-text {
  visibility: hidden;
}

html, body, .site {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

.page-wrap:after {
  content: '';
  display: block;
  height: $footer-height;
}