.screen-reader-text {
  visibility: hidden;
}

html, body, .site {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

.page-wrap:after {
  content: '';
  display: block;
  height: $footer-height;
}

.clearfix {
  clear: both;
}

button, input[type="submit"] {
  box-shadow: none;
  text-shadow: none;
  font-size: $fs2;

  &:hover {
    box-shadow: none;
    text-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }
}

a, a:link, a:visited {
  text-decoration: none;
  color: $main-link-color;
}

a:hover {
  text-decoration: underline;
}

ul, ol {
  margin: 0;
  margin-bottom: 1.5em;
}

blockquote {
  font-style: italic;
  border-left: 1px solid grey;
  margin: $mp2-l;
  padding: $mp2-l;
}