.site-header {
  width: 100%;
  background-color: $header-bg-color;
  padding: $mp2;
  height: $header-height;
}

.menu-toggle, .site-branding {
  float: left;
}

.menu-toggle {
  background: none;
  border: none;
  color: $header-menu-toggle-color;
  box-shadow: none;
  text-shadow: none;
  padding: 0;
  font-size: $header-menu-toggle-size;
  margin-top: ($header-height - $header-menu-toggle-size - $header-toggle-margin * 2) / 2
}

.site-branding {
  margin-left: $mp3;
}

.site-title {
  margin: 0;

  a {
    color: $header-main-color;
    text-decoration: none;
  }
}

.site-description {
  color: $header-secondary-color;
  margin: 0;
}

.toggled {
  .menu-toggle {
    color: $header-menu-toggle-active-color;
  }
}

.nav-menu {

  &[aria-expanded="false"] {
    left: -$mobile-nav-width;
  }

  position: fixed;
  width: $mobile-nav-width;
  height: 100%;
  background-color: $mobile-nav-bg-color;
  top: $header-height;
  left: 0;
  padding: $mp2;
  border-top: $mobile-nav-border;
  border-right: $mobile-nav-border;
  transition: $mobile-nav-animation;
  z-index: 10;

  li {
    float: none;
    font-size: $mobile-nav-font-size;

    a {
      color: $mobile-nav-link-color;

    }

    &.current-menu-item a {
      color: $mobile-nav-current-link-color;
    }

  }


  #search-form {
    margin: $mp2-t;
  }
}

.social-buttons {
  font-size: $fs2;
  overflow: hidden;

  a {
    color: $mobile-nav-social-icon-color;
  }

  li {
    float: left;
    margin-right: $mp2;
  }
}

.desktop-social-search {
  display: none;
}

/* Override to keep menu text from disappearing when mobile menu slides out */
.main-navigation ul {
  display: block;
}

@media (min-width: $bp-sm) {
  header.site-header {
    padding: $mp2-v;
  }

  .header-content-wrap {
    margin: $mp3-h;
  }

  .header-primary {
    display: flex;
    justify-content: space-between;
  }

  .main-navigation {

    ul.social-buttons, #search-form {
      float: none;
    }
  }

  .mobile-social-search {
    display: none;
  }

  .desktop-social-search {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    margin: $mp1-t;

    #search-form {
    }
  }

  .menu-toggle {
    display: none;
  }

  .site-branding {
    float: none;
    margin: 0;
  }

  .nav-menu {
    position: static;
    background: none;
    margin: $mp3 auto;
    padding: 0;
    border: 0;
    width: auto;
  }

  ul.social-buttons {
    display: flex;
    flex-direction: row;
    margin: $mp1-t;

    li {
      font-size: $fs3;
      margin: $mp2-l;
    }
  }

  .menu-main-menu-container {
    display: flex;
    justify-content: center;
  }

  ul.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 100%;

    li {
    }
  }

  .site-header {
    height: 225px;
  }
}

@media (min-width: $bp-md) {
  ul.menu {
    flex-basis: 80%;
  }
}

@media (min-width: $bp-lg) {
  .header-content-wrap {
    margin: 0 auto;
    width: $cw-lg;
  }

  ul.menu li {
  }

}
