@mixin hero-component() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-container {
  width: 100%;
  position: relative;
  margin: $mp3-b;
}



.hero-link {
  display: block;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: none;
  }
}

.hero-blank-bg {
  @include hero-component();
  z-index: 0;
  background-image: $hero-blank-bg-color-xs;
  background-size: cover;
  background-attachment: fixed;
}

.hero-img-bg {
  @include hero-component();
  z-index: 1;
  background-position: center;
  background-size: cover;
}

.hero-content {
  @include hero-component();
  position: absolute;
  z-index: 2;
  padding: $mp2;
  background-color: $hero-overlay-color;
  text-shadow: $hero-text-shadow;
  color: $hero-main-color;
}

.hero-title {
  margin: 0;
  font-size: $hero-title-font-size;
  color: $hero-main-color;
}

.hero-excerpt {
  margin: $mp2-v;
  font-size: $fs2;
  color: $hero-main-color;
}

.btn-hero-more  {

  background-color: $hero-button-bg-color;
  border-color: $hero-button-border-color;

  &:hover {
    background-color: $hero-secondary-color;
  }

}

a.btn-hero-more {
  color: $hero-button-color;
}

.hero-meta {
  overflow: hidden;
  margin: $mp2-t;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.hero-skills {
  font-size: $skills-hero-size;

  a {
    color: $hero-main-color;
  }

  li {
    margin: $mp1-l;
  }

}

.entry-comment-count a {
  color: $hero-main-color;
}

.hero-date {
  color: $hero-main-color;
}

body.home .hero-container {
  height: $home-hero-height;
}

body.post-type-archive-job .hero-container {
  height: $job-hero-height-xs;
}

body.page .hero-container {
  height: $page-hero-height;
}

body.post-type-archive-project .hero-container {
  height: $project-hero-height;
}

body.single .hero-container {
  height: $single-hero-height-xs;
}

body.single-job .hero-container {
  height: $single-job-hero-height-xs;
}

body.single-project .hero-container {
  height: $single-project-hero-height-xs;
}

body.skills-list .hero-container {
  height: $skills-list-hero-height;
}

body.tax-skills .hero-container {
  height: $skills-hero-height-xs;

  i {
    font-size: $skills-hero-icon-size-xs;
  }

  .skill-title {
    font-size: $fs4;
  }
}



@media (min-width: $bp-sm) {
  .hero-content-wrap {
    margin: $mp3-h;
  }

  .hero-blank-bg {
    background-image: $hero-blank-bg-color-sm;
  }

  .hero-content {
    padding: $mp4-v;
  }

  .hero-excerpt {
    margin: $mp3-v;
  }

  .hero-meta {
    margin: $mp3-t;
  }

  body.home .hero-container {
    height: $home-hero-height;
  }

  body.post-type-archive-job .hero-container {
    height: $job-hero-height-sm;
  }

  body.single .hero-container {
    height: $single-hero-height-sm;
  }

  body.single-job .hero-container {
    height: $single-job-hero-height-sm;
  }

  body.single-project .hero-container {
    height: $single-project-hero-height-sm;
  }

  body.skills-list .hero-content {
    display: flex;
    align-items: center;
  }

  body.tax-skills .hero-container {
    height: $skills-hero-height-sm;

    i {
      font-size: $skills-hero-icon-size-sm;
    }

    .skill-title {
      font-size: $fs5;
    }
  }

}

@media (min-width: $bp-md) {
  .hero-blank-bg {
    background-image: $hero-blank-bg-color-md;
  }

  .hero-content-wrap {
    margin: 0 auto;
    width: $cw-md;
  }

}

@media (min-width: $bp-lg) {
  .hero-blank-bg {
    background-image: $hero-blank-bg-color-lg;
  }

  .hero-content-wrap {
    margin: 0 auto;
    width: $cw-lg;
    padding: $mp3-h;

    body.page & {
      padding: 0;
    }
  }

}


