@mixin hero-component() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-container {
  width: 100%;
  min-height: $hero-height-home;
  position: relative;
  margin: $mp3-b;
}

.hero-link {
  display: block;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: none;
  }
}

.hero-blank-bg {
  @include hero-component();
  z-index: 0;
  background-color: $hero-blank-bg-color;
}

.hero-img-bg {
  @include hero-component();
  z-index: 1;
  background-position: center;
  background-size: cover;
}

.hero-content {
  @include hero-component();
  position: relative;
  z-index: 2;
  padding: $mp2;
  background-color: $hero-overlay-color;
  text-shadow: $hero-text-shadow;
}

.hero-title {
  margin: 0;
  font-size: $hero-title-font-size;
  color: $hero-main-color;
}

.hero-excerpt {
  margin: $mp2-v;
  font-size: $fs2;
  color: $hero-main-color;
}

.btn-hero-more {
  color: $hero-button-color;
  background-color: $hero-button-bg-color;
  border-color: $hero-button-border-color;

  &:hover {
    background-color: orange;
  }

}

.hero-skills {
  font-size: $hero-skills-size;
  float: left;
  margin: $mp2-t;

  a {
    color: $hero-main-color;
  }

  li {
    margin: $mp1-l;
  }

}

.hero-date {
  color: $hero-main-color;
  float: right;
  margin: $mp2-t;
}

.single-post {
  .hero-container {
    min-height: $hero-height-single;
  }

  .hero-content {
    position: absolute;
  }

  .hero-skills, .hero-date {
    display: block;
    float: none;
  }

  .hero-skills {
    float: left;
  }

  .hero-comment-count {
    float: right;

    a {
      color: white;
    }
  }

  .hero-title, .hero-skills, .hero-date, .hero-comment-count {
    margin: $mp2-b;
  }

}
