.home, .archive, .search-results {

  article, .posts-navigation {
    margin: $mp4 $mp2;
  }

  header h2 {
    font-size: $fs3;
    margin: 0;
  }

  .entry-content {
    margin: 0;
  }

  .entry-meta {
    margin: $mp3-b;
  }

  .entry-featured-image {
    display: block;
  }

  .skills-icons {
    float: left;
  }

  .skills-icons li {
    font-size: $skills-home-size;
  }

  .entry-comment-count {
    float: right;
  }

  .entry-footer {
    overflow: hidden;
  }

}

@media (min-width: $bp-md) {
  .home, .archive, .search-results {
    article {
      display: flex;
      flex-flow: column;
      justify-content: space-between;

    }

    .entry-header {
    }

    .entry-main {
      display: flex;
    }

    .entry-featured-image {
      width: $archive-featured-image-md;
      height: $archive-featured-image-md;
      margin: $mp3-r;
    }

    .skills-icons, .entry-comment-count {
      float: none;
    }

    .entry-footer {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      margin: $mp2-t;
    }
  }
}