.job-company, .job-location, .job-timeframe {
  margin: 0;
}

.job-location {
  font-weight: bold;
  margin: $mp2-t;
}

.job-timeframe {
  font-style: italic;
}

.post-type-archive-job .entry-meta {
  margin: $mp2-b;
}

.single-job .hero-container, .post-type-archive-job .hero-container {

  a {
    color: $hero-link-color;
  }

  .entry-title {
    line-height: normal;
  }

  .skills-icons {
    margin: $mp2-t;
  }

}