.post-type-archive-project, .single-project  {

  .hero-container {
    .fa-github-square, .fa-globe {
      color: $hero-main-color;
    }

    .project-github-url, .project-project-url {
      a {
        color: $hero-secondary-color;
      }
    }
  }

  .hero-excerpt {
    margin: $mp2-b;
  }

  .entry-meta {
    margin: 0;
  }

  .entry-content p {
    margin: $mp2-b;
  }

}

.project-github-url {
  margin: $mp2-b;
}

.project-project-url {
  margin: $mp2-t;
}

.fa-github-square {
  font-size: $fs2;
}

