.post-type-archive-project, .single-project  {

  .hero-container {
    .fa-github-square {
      color: white;
    }

    .project-github-url, .project-project-url {
      a {
        color: white;
      }
    }
  }


  .project-github-url {
    margin: $mp2-b;
  }

  .project-project-url {
    margin: $mp2-t;
  }

  .fa-github-square {
    font-size: $fs2;
  }

  .hero-excerpt {
    margin: $mp2-b;
  }

  .entry-meta {
    margin: 0;
  }

  .entry-content p {
    margin: $mp2-b;
  }

}
