.single {

  .hero-container {
    min-height: $single-hero-height;
  }

  .hero-content {
    position: absolute;
  }

  .hero-skills, .hero-date {
    display: block;
    float: none;
  }

  .hero-skills {
    float: left;
  }

  .hero-comment-count {
    float: right;

    a {
      color: $hero-link-color;
    }
  }

  .hero-title, .hero-skills, .hero-date, .hero-comment-count {
    margin: $mp2-b;
  }

  .entry-content, .entry-footer, .post-navigation, .comments-area {
    margin: $mp2-h;
  }

  .comments-area {
    margin-top: $mp4;
  }

  .entry-footer {
    margin-top: $mp2;
    margin-bottom: $mp3;
  }

  .tag-list {
    font-style: italic;
  }

  .nav-links {
    margin: $mp4-b;
  }

}

.page {
  .hero-container {
    min-height: $page-hero-height;
    padding: $mp3-t;
  }

  .hero-content {
    position: absolute;
    padding: $mp3 $mp2;
  }

}

.page-title {
  margin: $mp3 $mp2;
}