/* Margin/Padding Helper Variables*/

/* Base sizes */
$mp1: .5em;
$mp2: 1em;
$mp3: 2em;
$mp4: 3em;
$mp5: 4em;

/* Sizes for box model */
/* t - top | b - bottom | l - left | r - right | v - vertical (tb) | h - horizontal (lr) */
$mp1-t: $mp1 0 0 0;
$mp1-b: 0 0 $mp1 0;
$mp1-l: 0 $mp1 0 0;
$mp1-r: 0 0 0 $mp1;
$mp1-v: $mp1 0;
$mp1-h: 0 $mp1;

$mp2-t: $mp2 0 0 0;
$mp2-b: 0 0 $mp2 0;
$mp2-r: 0 $mp2 0 0;
$mp2-l: 0 0 0 $mp2;
$mp2-v: $mp2 0;
$mp2-h: 0 $mp2;

$mp3-t: $mp3 0 0 0;
$mp3-b: 0 0 $mp3 0;
$mp3-r: 0 $mp3 0 0;
$mp3-l: 0 0 0 $mp3;
$mp3-v: $mp3 0;
$mp3-h: 0 $mp3;

$mp4-t: $mp4 0 0 0;
$mp4-b: 0 0 $mp4 0;
$mp4-r: 0 $mp4 0 0;
$mp4-l: 0 0 0 $mp4;
$mp4-v: $mp4 0;
$mp4-h: 0 $mp4;

$mp5-t: $mp5 0 0 0;
$mp5-b: 0 0 $mp5 0;
$mp5-r: 0 $mp5 0 0;
$mp5-l: 0 0 0 $mp5;
$mp5-v: $mp5 0;
$mp5-h: 0 $mp5;

/* Dimensions */
$header-height: 120px;
$header-menu-toggle-size: 40px;
$header-toggle-margin: 16px;

$mobile-nav-width: 75%;

$home-hero-height: 390px;
$home-hero-height-sm: 350px;
$job-hero-height-xs: 460px;
$job-hero-height-sm: 530px;
$project-hero-height: 420px;
$single-hero-height-xs: 235px;
$single-hero-height-sm: 275px;
$single-job-hero-height-xs: 260px;
$single-job-hero-height-sm: 350px;
$single-project-hero-height-xs: 220px;
$single-project-hero-height-sm: 305px;
$page-hero-height: 125px;
$skills-hero-height-xs: 150px;
$skills-hero-height-sm: 245px;

$skills-hero-size: 1.25em;
$skills-home-size: 1.25em;
$skills-list-hero-height: 200px;
$skills-hero-icon-size-xs: 75px;
$skills-hero-icon-size-sm: 100px;
$skills-icons-size: 200px;
$skills-count-size: 12px;

$error-icon-size: 150px;

$footer-height: 40px;

/* Content Wraps */
$cw-margin: 32px;
$cw-sm: $bp-sm - 2 * $cw-margin;
$cw-md: $bp-md - 2 * $cw-margin;
$cw-lg: $bp-lg - 2 * $cw-margin;


