/* Colors */
$header-main-color: white;
$header-secondary-color: white;
$header-menu-toggle-color: white;
$header-menu-toggle-active-color: orange;
$header-bg-color: #4f4f9e;

$mobile-nav-bg-color: #4f4f9e;
$mobile-nav-link-color: white;
$mobile-nav-current-link-color: orange;
$mobile-nav-social-icon-color: #bbbbbb;

$footer-bg-color: #4f4f9e;
$footer-main-color: white;

/* Dimensions */
$header-height: 105px;
$header-menu-toggle-size: 40px;

$mobile-nav-width: 75%;
$mobile-nav-social-icon-size: 16px;

$footer-height: 30px;

/* Margin/Padding */
$container-padding: 15px;
$container-padding-double: $container-padding * 2;

/* Borders */
$mobile-nav-border: 3px solid white;

/* Font Sizes */
$large-font-size: 2em;
$normal-font-size: 1em;
$small-font-size: .8em;

$mobile-nav-font-size: $large-font-size;

$footer-font-size: $small-font-size;

/* Animations */
$fast-animation: 250ms;
$medium-animation: 500ms;
$slow-animation: 1s;

$mobile-nav-animation: all $fast-animation ease-in-out;