/* Colors */
$header-main-color: white;
$header-secondary-color: white;
$header-menu-toggle-color: white;
$header-menu-toggle-active-color: orange;
$header-bg-color: #4f4f9e;

$mobile-nav-bg-color: #4f4f9e;
$mobile-nav-link-color: white;
$mobile-nav-current-link-color: orange;
$mobile-nav-social-icon-color: #bbbbbb;

$footer-bg-color: #4f4f9e;
$footer-main-color: white;

/* Dimensions */
$header-height: 105px;
$header-menu-toggle-size: 40px;

$mobile-nav-width: 75%;
$mobile-nav-social-icon-size: 16px;

$footer-height: 30px;

/* Margin/Padding */
$container-padding: 15px;
$container-padding-double: $container-padding * 2;

$margin-top: 15px 0 0 0;

/* Borders */
$mobile-nav-border: 3px solid white;

/* Font Sizes */
$font-size-large: 2em;
$font-size-normal: 1em;
$font-size-small: .8em;

$mobile-nav-font-size: $font-size-large;

$footer-font-size: $font-size-small;

/* Animations */
$animation-speed-fast: 250ms;
$animation-speed-medium: 500ms;
$animation-speed-slow: 1s;

$mobile-nav-animation: all $animation-speed-fast ease-in-out;